*{
	padding: 0;
	margin: 0;
	font-family: "exo", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

h2{
	font-size: 32px;
	color: #01B4DC;
}

p{
	font-size: 30px;
	margin: 40px 0px 0px 0px;
}

button{
	border: none;
	background-color: transparent;
   	outline:none;
   	cursor: pointer;
}

strong{
	color: #01B4DC;
}

.websiteContainer,
.introContainer,
.formContainer,
.formHeaderContainer,
.formArrowContainer,
.formContentContainer,
.formChoiceContainer,
.endScreenContainer,
.endScreenQuestions,
.endScreenQuestionsWeights,
.endScreenPartiesContainer,
.endScreenParties,
.PartiesHeader,
.endScreenResult,
.endScoreContainer{
	width: 100%;
	height: auto;
	overflow: auto;
}

.websiteContainer{
	height: 100vh;
	background-image: url(../images/challenges-front-end-background-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	position: relative;
}

.introContainer,
.formContainer,
.endScreenContainer{
	width: 80%;
	height: 90vh;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.introButton,
.formButton{
	color: #fff;
	background-color: #000;
	padding: 20px 40px;
	font-size: 26px;
	border-radius: 5px;
	-webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.introButton{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.introButton:hover,
.formButton:hover{
	background-color: #018aa9;
}

.formHeaderContainer{
	height: 80px;
}

.formColorBar,
.endScreenColorBar{
	width: 3.33%;
	height: 10px;
	background-color: #01B4DC;
	-webkit-transition: 0.3s ease-out width;
    -moz-transition: 0.3s ease-out width;
    -o-transition: 0.3s ease-out width;
    -ms-transition: 0.3s ease-out width;
    transition: 0.3s ease-out width;
}

.formArrowContainer{
	height: 70px;
	padding: 10px 20px;
	position: relative;
}

#formArrow,
#endScreenArrow,
#endScreenPartiesArrow,
#endScreenResultArrow{
	font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px 0px 0px 0px;
    background-color: #eeeeee;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    margin: 0px 0px 0px 3px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

#formArrow:hover,
#endScreenArrow:hover,
#endScreenPartiesArrow:hover,
#endScreenResultArrow:hover{
	margin: 0px;
}

.formContentContainer{
	width: auto;
	height: 85vh;
	height: -webkit-calc(90vh - 80px);
	height: -moz-calc(90vh - 80px);
	height: calc(90vh - 80px);
}

.formInnerContentContainer{
	height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.formContentSlideContainer,
.endScreenQuestionsWeights,
.endScreenPartiesContainer,
.endScreenQuestionsHeader,
.endScreenPartiesHeader,
.endScreenResultHeader,
.endScreenResultsContainer{
	width: 80%;
	height: auto;
	margin: 0% 10%;
	display: inline-block;
	white-space: normal;
	padding: 1%;
	-webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.formChoiceContainer{
	margin: 100px 0px 0px 0px;
	position: relative;
}

.formChoice{
	color: #fff;
	background-color: #000;
	padding: 20px 40px;
	font-size: 26px;
	border-radius: 5px;
	-webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.formChoice:hover{
	background-color: #018aa9;
}

.formChoice:nth-child(2n){
	margin: 0px 15px;
}

.formSkip{
	position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.formSkip span{
	color: #b4b4b4;
	font-size: 22px;
}

.formSkip span:first-child{
	margin: 0px 40px 0px 0px;
}
    
.formSkip span:nth-child(2n){
	position: absolute;
	right: 10px;
	-webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.formSkip:hover > span:nth-child(2n){
	right: 5px;
}

.formCompanyOpinion{
	margin: 100px 0px 0px 0px;
	font-size: 24px;
	cursor: pointer;
}

.formCompanyOpinion img,
.formCompanyOpinion div{
	display: inline-block;
}

.formCompanyOpinion img{
	margin: 0px 20px 0px 0px;
}

.endScreenContainer{
	height: auto;
	top: 0;
	transform: translate(-50%, 0%);
	margin: 5vh 0vw;
}

.endScreenContainer .endScreenQuestionsHeader,
.endScreenContainer .endScreenPartiesHeader,
.endScreenContainer .endScreenResultHeader,
.endScreenContainer .endScreenPartiesContainer,
.endScreenContainer .endScreenResultsContainer,
.endScreenContainer .endScreenQuestionsWeights{
	display: block;
}

.endScreenContainer .formContentContainer{
	height: auto;
}

.endScreenColorBar{
	width: 100%;
}

.formButton{
	margin: 50px 0px 0px 0px;
}

.endScreenQuestionsHeader p,
.endScreenPartiesHeader p,
.endScreenResultHeader p{
	font-size: 18px;
}

.endScreenQuestionsWeights,
.endScreenPartiesContainer,
.endScreenResultsContainer{
	width: 100%;
	margin: 100px 0px 0px 0px;
	padding: 40px 11%;
	background-color: #E7EAEB;
}

.endScreenQuestionsWeights h3,
.endScreenPartiesContainer h3,
.endScreenResultsContainer h3{
	margin: 0px 0px 20px 0px;
}

.questionWeightContainer,
.partiesContainer{
	width: 30%;
	height: 20px;
	margin: 10px 0px;
	display: inline-block;
}

.questionWeightContainer:nth-child(3n+3),
.partiesContainer:nth-child(3n+3){
	margin: 10px 4.5%;
}

.questionWeightContainer input,
.partiesContainer input{
	margin: 0px 10px 20px 0px;
}

.endScreenPartiesContainer button{
	background-color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	-webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.endScreenPartiesContainer button:hover{
	color: #fff;
	background-color: #000;
}

.endScreenPartiesContainer button:nth-child(3){
	margin: 0px 5px;
}

.PartiesHeader{
	margin: 0px 0px 40px 0px;
}

.endScoreContainer{
	margin: 20px 0px;
}

.endScoreNames{
	margin: 0px 0px 5px 0px;
}

.endScoreGraphBar{
	height: 30px;
	width: 100%;
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 3px;
	position: relative;
}

.endScoreGraphBar span{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translate(0%, -50%);
}

.endScoreInnerGraphBar{
	width: 0%;
	height: 28px;
	background-color: #01B4DC;
}